@use 'abstracts/mixins/mixins' as mixins;
.page-id-128 .entry-content {
    h2.wp-block-heading{
        text-align: center;
    }
    p{
        max-width: 280px;
        margin: 0 auto;
    }
    h3{
        text-align: center;
    }
    img{
        max-width: 260px;
        margin: 0 auto;
        display: block;
    }
}
@include mixins.medium{
    .page-id-128 .entry-content{
        h2{
            font-size: 2rem;
        }
        p{
            max-width:500px;
            margin: 0 auto;
        }
        img{
            max-width: 300px;
            display: block; 
            margin: 0 auto; 
        }
        article {
            max-width: 600px;
            margin: 0 auto;
        }

        .article-content-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            justify-content: center;
            align-items: center;
        }
    }

}
// regroup and then grid item to the children if too hard to group the samll items do acf repeater
@include mixins.large{
    .entry-content{
      
        img {
            width: 500px;
            height: 150px; 
            object-fit: cover;
        } 
    }
    .page-id-128{
        .wp-block-group__inner-container.is-layout-constrained:first-of-type {
            display: grid;
            align-items: center;
            justify-content: center;
        }
        .single-founder{
            padding: 2rem;
        }
        .wp-block-group:nth-child(odd){
            grid-column: 1/2;
        }
        .wp-block-group:nth-child(even){
            grid-column: 2/3;
        }
    }
}