// @use 'mixins/mixins' as mixins;
@use 'abstracts/mixins/mixins' as mixins;
.entry-content{
    h2.wp-block-heading{
        text-align: center;
    }
    p{
        max-width: 280px;
        margin: 0 auto;
    }
    h3{
        text-align: center;
        // text-decoration: underline;
    }
    img{
        max-width: 260px;
        margin: 0 auto;
        display: block;
    }
}

@include mixins.medium{
    .entry-content{
        h2{
            font-size: 2rem;
        }
        p{
            max-width:500px;
           
        }
        img{
            max-width: 460px;
        }
        article {
            max-width: 600px;
        }

        .article-content-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
    }

}
// regroup and then grid item to the children if too hard to group the samll items do acf repeater

@include mixins.large{
    .entry-content{
      
        img {
            max-width: 300px; 
        } 
    }
    .page-id-128{
        .wp-block-group__inner-container.is-layout-constrained:first-of-type {
            display: grid;
           grid-template-columns: 2fr;
           gap: 2rem;
        }
        
        .wp-block-group:nth-child(odd){
            grid-column: 1/2;
        }
        .wp-block-group:nth-child(even){
            grid-column: 2/3;
        }
        
    // }
       
    }

}