.page-id-17 .entry-content{
    div.woocommerce{

     p.woocommerce-form-row {
        display: grid;
        grid-template-columns: 40% 60%;

        input {
            width: 100%;
        }
     }
    }
}