#product-256 {
    .entry-summary {
        .cart {
            .wc-pao-addons-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                .wc-pao-addon {
                    background-color: #ffffff;
                    padding: 1rem;
                    border: 2px solid $color__background-dark;
                    margin: 1rem 0;
                }
            }
        }
    }
}