.single-product {
    .site {
        .site-main {
            .product {
                background-color: $color__background-body;
                padding: 3rem 1rem;

                h1 {
                    display: block;
                    text-align: center;
                    padding-top: 0;
                    font-size: 2.5rem;
                }

                h2 {
                    text-align: center;
                }

                .woocommerce-product-gallery {
                    .woocommerce-product-gallery__wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .summary {
                    .woocommerce-product-rating {
                        display: flex;
                        justify-content: center;
                        gap: 1rem;

                        .star-rating span:before,
                        .star-rating::before,
                        p.stars a:hover:after,
                        p.stars a:after {
                            color: #FF943D !important;
                        }

                        .woocommerce-review-link {
                            color: $color__text-main;
                        }
                    }

                    .price {
                        text-align: center;
                        font-size: 20px;
                        font-weight: 700;
                    }

                    .cart {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .quantity {
                            input[type=number] {
                                width: 75px;
                                text-align: center;
                            }
                        }
                    }

                    .variations_form {
                        .variations {
                            tbody {
                                tr {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    .value {
                                        .reset_variations {
                                            display: none !important;
                                        }
                                    }
                                }
                            }
                        }

                        .single_variation_wrap {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .woocommerce-variation-add-to-cart {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .quantity {
                                    input[type=number] {
                                        width: 75px;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }

                    .woocommerce-product-details__short-description {
                        text-align: center;
                    }

                    .product_meta {
                        text-align: center;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        span {
                            a {
                                color: $color__text-main;
                            }
                        }

                        span:first-child {
                            display: none;
                        }

                        .posted_in {
                            display: none;
                        }

                        .custom {
                            text-decoration: none;
                            color: $color__text-main;
                            margin-top: 1rem;

                            p {
                                margin: 0;
                                color: $color__background-body;
                            }
                        }

                        .vegetarian::before {
                            content: url(assets/veg-icon.svg);
                        }

                        .spicy::before {
                            content: url(assets/spicy-icon.svg);
                        }

                        .gluten-free::before {
                            content: url(assets/gf-icon.svg);
                        }
                    }
                }

                .woocommerce-tabs {
                    .tabs {
                        display: none;
                    }

                    .woocommerce-Tabs-panel {
                        padding: 1rem 0;
                        max-width: 500px;
                        margin: 0 auto;
                    }
                }

                .related {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .products {
                        .product {
                            background-color: $color__white;

                            .product-tags {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
