// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin medium {
	@media (min-width: 48em) {
		@content;
	}
}

@mixin large {
	@media (min-width: 64em) {
		@content;
	}
}

@mixin xlarge {
	@media (min-width: 75em) {
		@content;
	}
}