header{
    background-color: $color__background-dark;
    .menu-primary-menu-container a {
        &:hover,
        &:focus {
            background-color: $color__background-body;
        }
        &:active {
            background-color: $color__background-button;
        }
    }
}
h1.entry-title{
    display: none;
}
.page-title{
    display: none;
}