header{
    background-color: $color__background-dark;
    .menu-primary-menu-container a {
        &:hover,
        &:focus {
            background-color: $color__background-body;
        }
        &:active {
            background-color: $color__background-button;
        }
    }
}
h1.entry-title{
    color: $color__link;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
}
h1.product_title{
    color: $color__text-main;
}
.page-title{
    display: none;
}