@import '../../abstracts/mixins/mixins';

#category-menu,
.category-menu {
    padding: 0 .5rem;
    background-color: $color__background-dark;
    @include large {
        margin: 0 auto;
    }
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        li:nth-child(1),
        li:nth-child(7) {
            grid-column: span 3;
        }
        li:nth-child(8) {
            grid-column: 3/4;
            grid-row: 3/4;
        }
        gap: 1rem;
        @include medium {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            gap: 0;
        }
        list-style: none;
        padding: 1rem 0;
        margin: 0;
        a {
            padding: 1rem .5rem;
            &:focus,
            &:hover {
                background-color: $color__background-body;
                border-bottom: 2px solid $color__background-body;
            }
        }
    }
}

.woocommerce-pagination,
.wc-block-grid__product .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link.added:after {
    display: none;
}