button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: $color__button-text-dark;
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

// general submit type button styling
button[type="submit"] {
    padding: 1.25rem 3rem;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
}

