button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: $color__button-text-dark;
	line-height: 1;
	padding: 0.6rem 1rem 0.4rem;
	text-transform: capitalize;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

// general submit type button styling
.wc-proceed-to-checkout a,
button[type="submit"] {
    padding: 1.25rem 3rem;
    border-radius: 25px;
    font-size: 20px;
	background-color: $color__background-dark;
	color: $color__background-body;
    cursor: pointer;
	transition: all ease-in-out 0.3s;

	&:hover {
		background: $color__background-button;
		color: $color__background-dark;
	}
}

// return to shop button
.return-to-shop {
	display: flex;
    justify-content: center;
	max-width: unset;
	margin: 0;
	padding: 2rem 0 0.5rem;

	.button {
		background: $color__background-dark;
		color: $color__background-body;
		padding: 1.25rem 3rem;
    	border-radius: 25px;
		font-size: 1rem;
		font-weight: 700;
		text-transform: uppercase;
		transition: all ease-in-out 0.3s;
		text-decoration: none;

		&:hover {
			background: $color__background-button;
			color: $color__background-dark;
		}
	}
}

