table {
	margin: 0 auto 1.5em;
	width: 100%;
}

table.shop_table.shop_table_responsive {
	
	tr.woocommerce-cart-form__cart-item.cart_item {
		margin-bottom: 1rem;
		border-spacing: .875rem;
		display:block;
	}

	tr.woocommerce-cart-form__cart-item.cart_item:not(:first-child) {
		border-top: 3px solid $color__background-dark;
	}

	tr td.product-thumbnail::before {
		content: unset;
	}

	tr td.product-thumbnail {
		text-align: center;
	}

	th {
		vertical-align: top;
	}

	tr.woocommerce-shipping-totals {
		display: none;
	}

	td.actions {
		padding: 1rem 0;
		text-align: end;
	}
}

@include medium {
	.cart-totals table.shop_table.shop_table_responsive {
		margin: 0 0 1.5em auto;
		width: 30rem;
	}
}