.woocommerce-store-notice {
    background-color: $color__background-notice !important;
    color: $color__link;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 1rem;

    &__dismiss-link {
        color: $color__background-button;
    }
}