.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.yith-wcqv-wrapper .yith-wcqv-main .yith-wcqv-head #yith-quick-view-close {
	color: $color__background-dark;
	opacity: 1;
}

#yith-quick-view-content {
	align-content: center;
}