// background colours
$color__background-body: #F3FDFF; //azure white
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #FF943D; //dark orange
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-dark: #07505F; //midnight green
$color__background-notice: #131616; //night black

// typography colours
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #F3FDFF; //azure white
$color__link-visited: #F3FDFF; //azure white
$color__link-hover: #07505F; //midnight green
$color__text-main: #131616; //night black
$color__text-light: #F3FDFF; //azure white
$color__linkdark: #07505F; //midnight green
$color__linkdark-visited: #07505F; //midnight green
$color__linkdark-hover: #FF943D; //dark orange
$color__white: #ffffff;

// button variables
$color__button-text-dark: #07505F; 
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;

$color__border-input: #ccc;
$color__border-abbr: #666;